@model UserInterface.ViewModels.ItemsVM

@{
    ViewData["Title"] = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Save">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ItemId" class="form-control" />
                <div class="form-group">
                    <label asp-for="Course" class="control-label"></label>
                    <input asp-for="Course" class="form-control" />
                    <span asp-validation-for="Course" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InStock" class="control-label"></label>
                    <input asp-for="InStock" class="form-control" />
                    <span asp-validation-for="InStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                    <a class="btn btn-secondary" asp-controller="Items" asp-action="Index"><i class="fas fa-window-close"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>

